<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/profile/index">Mi profila</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/matches">Mis matcheaks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/" tabindex="-1" aria-disabled="true">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</nav>

<div class="header-menu">
  <h4>Adopta a un@</h4>
</div>

{{#each users as |user|}}
<div class="container matcheaks">
  <div class="card text-center" style="width: 18rem;">
    <img src="{{user.image}}" class="card-img-top" alt="imagen de perfil">
    <div class="card-body">
      <h5 class="card-title mt-2">{{user.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{user.age}} años</h6>
      <p class="card-text mt-3 mb-4">{{user.gender}}</p> 
      <form action="/matcheaks/{{user.id}}" method="post">
        <button type="submit" name="status" value="dislike" class="btn btn-danger btn-lg mt-5">No guztatzen</button>
      </form>
      <form action="/matcheaks/{{user.id}}" method="post">
        <button type="submit" name="status" value="like" class="btn btn-danger btn-lg mt-5">Guztatzen</button>
      </form>
    </div>
  </div>
</div>
{{/each}}
