<div class="header-menu">
  <h4>Mis matcheaks</h4>
</div>
<div class="cards">
  {{#each relationships as |user|}}
  <div class="container matcheaks">
    <div class="card text-center" style="width: 18rem;">
      <img src="{{user.image}}" class="card-img-top" alt="imagen de perfil">
      <div class="card-body">
        <h5 class="card-title mt-2">{{user.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{user.age}} años</h6>
        <p class="card-text mt-3 mb-4">{{user.gender}}</p> 
        <form class="button-action" action="/adopta/{{user.id}}" method="post">
          <button
            type="submit"
            name="status"
            value="block"
            class="btn btn-lg mt-2">
            <img src="/images/rechazar.png" />
          </button>
        </form>
          <a
            href="/messages/{{user.id}}"
            class="btn btn-lg mt-2">
            <img src="/images/write-letter.png" />
          </a>
      </div>
    </div>
  </div>
  {{/each}}
</div>