<div class="header-menu">
  <h4>Mis mensajes</h4>
</div>

<div class="container mt-1 messages">
  <div class="row">
    <div class="col d-flex flex-column align-items-center">
      <p>{{otherUser.name}}</p>
      <img src="{{otherUser.image}}">
    </div>
  </div>
  {{#each messages as |message|}}
  <div class="row {{#whoSend ../session.id message.from}}{{/whoSend}}">
    <div class="col-6">
      <p class="card-text">{{message.text}}</p>
    </div>
    {{!-- <div class="col-6">
      <h5 class="card-title">{{message.to.name}}</h5>
      <p class="card-text">{{message.text}}</p>
    </div> --}}
  </div>
  {{/each}}
  <div class="message-box">
    <form action="/messages/{{interestedId}}" method="POST">
      <div class="form-group form-messages">
        <textarea
          class="form-control"
          name="text"
          rows="3"
          placeholder="Escribe tu mensaje"
          required></textarea>
      </div>
       <button
          type="submit"
          class="btn btn-lg mt-2 button-messages">
          Enviar
        </button>
        <div class="">
          {{ errors.text }}
        </div>
    </form>
  </div>
</div>