<div class="header-menu">
  <h4>Mis mensajes</h4>
</div>

<div class="container mt-5">
  {{#each messages as |message|}}
  <div class="row">
    <div class="col-6">
      {{message.from.name}}
      <h5 class="card-title">{{message.from.name}}</h5>
      <p class="card-text">{{message.text}}</p>
    </div>
    <div class="col-6">
      {{message.to.name}}
      <h5 class="card-title">{{message.to.name}}</h5>
      <p class="card-text">{{message.text}}</p>
    </div>
  </div>
  {{/each}}
  <div class="message-box">
    <form action="/messages/{{interestedId}}" method="POST">
      <div class="form-group form-messages">
        <textarea
          class="form-control"
          name="text"
          rows="3"
          placeholder="Escribe tu mensaje"></textarea>
      </div>
       <button
          type="submit"
          class="btn btn-lg mt-2 button-messages">
          Enviar
        </button>
    </form>
  </div>
</div>